This file is for our proposal notebook

# Bank Marketing Data Set Group Project Proposal
##### By: Alex Khadra, Shay Tannne, Liam Buchan, Tanaya Parakh

### Introduction:
The data set we are working on is the bank marketing data set. The bank we are analyzing is a Portuguese banking institution with data related with direct marketing campaigns (phone calls). 

The classification goal for this project, is to predict if the client will subscribe a term deposit. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. Term deposits can be invested into a bank, building society or credit union (in our case the Portuguese banking institution).

Our data set includes: 
- age 
- job 
- marital
- education 
- default 
- balance 
- housing 
- loan 
- contact 
- day 
- month 
- duration 
- campaign 
- pdays 
- previous 
- poutcome 
- "y" (where "y" is whether or not they got a term deposit)

Throughout the project we will look at all the variables and see how they relate to clients subscribing to a term deposit, and figure out how to best predict whether or not a client will subscribe a term deposit.

## Wrangling + preliminary analysis

In [1]:
library(tidyverse)
library(repr)
library(rvest)
library(stringr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘rvest’ was built under R version 4.0.2”
Loading required package: xml2


Attaching package: ‘rvest’


The following object is masked from ‘package:purrr’:

    pluck


The following object is masked from ‘package:readr’:

    guess_encoding

In [3]:
bank_all_cols <- read_delim("data/bank.csv", delim = ';')
bank_all_cols

Parsed with column specification:
cols(
  age = col_double(),
  job = col_character(),
  marital = col_character(),
  education = col_character(),
  default = col_character(),
  balance = col_double(),
  housing = col_character(),
  loan = col_character(),
  contact = col_character(),
  day = col_double(),
  month = col_character(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  poutcome = col_character(),
  y = col_character()
)

     age job           marital  education default balance housing loan
1    30  unemployed    married  primary   no      1787    no      no
2    33  services      married  secondary no      4789    yes     yes
3    35  management    single   tertiary  no      1350    yes     no
4    30  management    married  tertiary  no      1476    yes     yes
5    59  blue-collar   married  secondary no         0    yes     no
6    35  management    single   tertiary  no       747    no      no
7    36  self-employed married  tertiary  no       307    yes     no
8    39  technician    married  secondary no       147    yes     no
9    41  entrepreneur  married  tertiary  no       221    yes     no
10   43  services      married  primary   no       -88    yes     yes
11   39  services      married  secondary no      9374    yes     no
12   43  admin.        married  secondary no       264    yes     no
13   36  technician    married  tertiary  no      1109    no      no
14   20  student       single   secondary no       502    no      no
15   31  blue-collar   married  secondary no       360    yes     yes
16   40  management    married  tertiary  no       194    no      yes
17   56  technician    married  secondary no      4073    no      no
18   37  admin.        single   tertiary  no      2317    yes     no
19   25  blue-collar   single   primary   no      -221    yes     no
20   31  services      married  secondary no       132    no      no
21   38  management    divorced unknown   no         0    yes     no
22   42  management    divorced tertiary  no        16    no      no
23   44  services      single   secondary no       106    no      no
24   44  entrepreneur  married  secondary no        93    no      no
25   26  housemaid     married  tertiary  no       543    no      no
26   41  management    married  tertiary  no      5883    no      no
27   55  blue-collar   married  primary   no       627    yes     no
28   67  retired       married  unknown   no       696    no      no
29   56  self-employed married  secondary no       784    no      yes
30   53  admin.        married  secondary no       105    no      yes
⋮    ⋮   ⋮             ⋮        ⋮         ⋮       ⋮       ⋮       ⋮
4492 35  blue-collar   single   secondary no          0   yes     no
4493 32  technician    single   secondary no        309   yes     yes
4494 28  technician    single   tertiary  no          0   yes     no
4495 26  technician    single   secondary no        668   yes     no
4496 48  management    married  tertiary  no       1175   yes     no
4497 30  blue-collar   single   secondary no        363   no      no
4498 31  entrepreneur  single   tertiary  no         38   no      no
4499 31  management    married  tertiary  no       1183   yes     no
4500 45  blue-collar   divorced primary   no        942   no      no
4501 38  admin.        married  secondary no       4196   yes     no
4502 34  management    married  tertiary  no        297   yes     no
4503 42  services      married  secondary no        -91   yes     yes
4504 60  self-employed married  primary   no        362   no      yes
4505 42  blue-collar   single   secondary no       1080   yes     yes
4506 32  admin.        single   secondary no        620   yes     no
4507 42  unemployed    divorced tertiary  no       -166   no      no
4508 33  services      married  secondary no        288   yes     no
4509 42  admin.        married  unknown   no        642   yes     yes
4510 51  technician    married  tertiary  no       2506   no      no
4511 36  technician    divorced secondary no        566   yes     no
4512 46  blue-collar   married  secondary no        668   yes     no
4513 40  blue-collar   married  secondary no       1100   yes     no
4514 49  blue-collar   married  secondary no        322   no      no
4515 38  blue-collar   married  secondary no       1205   yes     no
4516 32  services      single   secondary no        473   yes     no
4517 33  services      married  secondary no       -333   yes     no
4518 57  self-employed married  tertiary  yes     -3313   yes     yes
4519 57  technician    married  secondary no        295   no      no
4520 28  blue-collar   married  secondary no       1137   no      no
4521 44  entrepreneur  single   tertiary  no       1136   yes     yes
     contact   day month duration campaign pdays previous poutcome y
1    cellular  19  oct    79      1         -1   0        unknown  no
2    cellular  11  may   220      1        339   4        failure  no
3    cellular  16  apr   185      1        330   1        failure  no
4    unknown    3  jun   199      4         -1   0        unknown  no
5    unknown    5  may   226      1         -1   0        unknown  no
6    cellular  23  feb   141      2        176   3        failure  no
7    cellular  14  may   341      1        330   2        other    no
8    cellular   6  may   151      2         -1   0        unknown  no
9    unknown   14  may    57      2         -1   0        unknown  no
10   cellular  17  apr   313      1        147   2        failure  no
11   unknown   20  may   273      1         -1   0        unknown  no
12   cellular  17  apr   113      2         -1   0        unknown  no
13   cellular  13  aug   328      2         -1   0        unknown  no
14   cellular  30  apr   261      1         -1   0        unknown  yes
15   cellular  29  jan    89      1        241   1        failure  no
16   cellular  29  aug   189      2         -1   0        unknown  no
17   cellular  27  aug   239      5         -1   0        unknown  no
18   cellular  20  apr   114      1        152   2        failure  no
19   unknown   23  may   250      1         -1   0        unknown  no
20   cellular   7  jul   148      1        152   1        other    no
21   cellular  18  nov    96      2         -1   0        unknown  no
22   cellular  19  nov   140      3         -1   0        unknown  no
23   unknown   12  jun   109      2         -1   0        unknown  no
24   cellular   7  jul   125      2         -1   0        unknown  no
25   cellular  30  jan   169      3         -1   0        unknown  no
26   cellular  20  nov   182      2         -1   0        unknown  no
27   unknown    5  may   247      1         -1   0        unknown  no
28   telephone 17  aug   119      1        105   2        failure  no
29   cellular  30  jul   149      2         -1   0        unknown  no
30   cellular  21  aug    74      2         -1   0        unknown  no
⋮    ⋮         ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
4492 cellular  16  apr    169      1        -1   0        unknown  no
4493 cellular  16  apr    346      1       234   3        failure  no
4494 unknown    4  jun    205      6        -1   0        unknown  no
4495 unknown   28  may    576      3        -1   0        unknown  yes
4496 telephone 18  nov   1476      3        -1   0        unknown  no
4497 cellular  28  jul    171      3        -1   0        unknown  no
4498 cellular  20  nov    185      2        -1   0        unknown  no
4499 unknown   27  may    676      6        -1   0        unknown  no
4500 cellular  21  nov    362      1        -1   0        unknown  no
4501 cellular  12  may    193      2        -1   0        unknown  no
4502 cellular  26  aug     63      4        -1   0        unknown  no
4503 cellular   5  feb     43      1        -1   0        unknown  no
4504 cellular  29  jul    816      6        -1   0        unknown  yes
4505 cellular  13  may    951      3       370   4        failure  yes
4506 unknown   26  may   1234      3        -1   0        unknown  yes
4507 cellular  29  aug     85      4        -1   0        unknown  no
4508 cellular  17  apr    306      1        -1   0        unknown  no
4509 unknown   16  may    509      2        -1   0        unknown  no
4510 cellular  30  nov    210      3        -1   0        unknown  no
4511 unknown   20  may    129      2        -1   0        unknown  no
4512 unknown   15  may   1263      2        -1   0        unknown  yes
4513 unknown   29  may    660      2        -1   0        unknown  no
4514 cellular  14  aug    356      2        -1   0        unknown  no
4515 cellular  20  apr     45      4       153   1        failure  no
4516 cellular   7  jul    624      5        -1   0        unknown  no
4517 cellular  30  jul    329      5        -1   0        unknown  no
4518 unknown    9  may    153      1        -1   0        unknown  no
4519 cellular  19  aug    151     11        -1   0        unknown  no
4520 cellular   6  feb    129      4       211   3        other    no
4521 cellular   3  apr    345      2       249   7        other    no