# Bank Marketing Data Set Group Project Proposal
##### By: Alex Khadra, Shay Tannne, Liam Buchan, Tanaya Parakh

### Introduction:
The data set we are working on is the bank marketing data set. The bank we are analyzing is a Portuguese banking institution with data related with direct marketing campaigns (phone calls). 

The goal of this project, is to find which variables best predict if the client will subscribe a term deposit. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. Term deposits can be invested into a bank, building society or credit union (in our case the Portuguese banking institution).

Our data set includes:
- `age` - Age
- `job` - Type of job
- `marital` - Marital status
- `education` - Level of education
- `default` - Has credit in default?
- `housing` - Has housing loan?
- `loan` - Has personal loan?
- `contact` - Contact communication type
- `month` - Last contact month of year
- `day_of_week` - Last contact day of the week
- `duration` - Last contact duration, in seconds
- `campaign` - Number of contacts performed during this campaign and for this client
- `pdays` - Number of days that passed by after the client was last contacted from a previous campaign
- `previous` - Number of contacts performed before this campaign and for this client 
- `poutcome` - Outcome of the previous marketing campaign
- `y` - Has the client subscribed a term deposit?

Throughout the project we will look at all the variables and see how they relate to clients subscribing to a term deposit. We will than find which variables have the greatest influence on predicting whether or not a client will subscribe a term deposit.

## Wrangling + preliminary analysis

In [3]:
library(tidyverse)
library(repr)
library(rvest)
library(stringr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘rvest’ was built under R version 4.0.2”
Loading required package: xml2


Attaching package: ‘rvest’


The following object is masked from ‘package:purrr’:

    pluck


The following object is masked from ‘package:readr’:

    guess_encoding

In [4]:
bank_all_cols <- read_delim("data/bank-full.csv", delim = ';')
bank_all_cols

Parsed with column specification:
cols(
  age = col_double(),
  job = col_character(),
  marital = col_character(),
  education = col_character(),
  default = col_character(),
  balance = col_double(),
  housing = col_character(),
  loan = col_character(),
  contact = col_character(),
  day = col_double(),
  month = col_character(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  poutcome = col_character(),
  y = col_character()
)

      age job           marital  education default balance housing loan
1     58  management    married  tertiary  no      2143    yes     no
2     44  technician    single   secondary no        29    yes     no
3     33  entrepreneur  married  secondary no         2    yes     yes
4     47  blue-collar   married  unknown   no      1506    yes     no
5     33  unknown       single   unknown   no         1    no      no
6     35  management    married  tertiary  no       231    yes     no
7     28  management    single   tertiary  no       447    yes     yes
8     42  entrepreneur  divorced tertiary  yes        2    yes     no
9     58  retired       married  primary   no       121    yes     no
10    43  technician    single   secondary no       593    yes     no
11    41  admin.        divorced secondary no       270    yes     no
12    29  admin.        single   secondary no       390    yes     no
13    53  technician    married  secondary no         6    yes     no
14    58  technician    married  unknown   no        71    yes     no
15    57  services      married  secondary no       162    yes     no
16    51  retired       married  primary   no       229    yes     no
17    45  admin.        single   unknown   no        13    yes     no
18    57  blue-collar   married  primary   no        52    yes     no
19    60  retired       married  primary   no        60    yes     no
20    33  services      married  secondary no         0    yes     no
21    28  blue-collar   married  secondary no       723    yes     yes
22    56  management    married  tertiary  no       779    yes     no
23    32  blue-collar   single   primary   no        23    yes     yes
24    25  services      married  secondary no        50    yes     no
25    40  retired       married  primary   no         0    yes     yes
26    44  admin.        married  secondary no      -372    yes     no
27    39  management    single   tertiary  no       255    yes     no
28    52  entrepreneur  married  secondary no       113    yes     yes
29    46  management    single   secondary no      -246    yes     no
30    36  technician    single   secondary no       265    yes     yes
⋮     ⋮   ⋮             ⋮        ⋮         ⋮       ⋮       ⋮       ⋮
45182 46  blue-collar   married  secondary no      6879    no      no
45183 34  technician    married  secondary no       133    no      no
45184 70  retired       married  primary   no       324    no      no
45185 63  retired       married  secondary no      1495    no      no
45186 60  services      married  tertiary  no      4256    yes     no
45187 59  unknown       married  unknown   no      1500    no      no
45188 32  services      single   secondary no      1168    yes     no
45189 29  management    single   secondary no       703    yes     no
45190 25  services      single   secondary no       199    no      no
45191 32  blue-collar   married  secondary no       136    no      no
45192 75  retired       divorced tertiary  no      3810    yes     no
45193 29  management    single   tertiary  no       765    no      no
45194 28  self-employed single   tertiary  no       159    no      no
45195 59  management    married  tertiary  no       138    yes     yes
45196 68  retired       married  secondary no      1146    no      no
45197 25  student       single   secondary no       358    no      no
45198 36  management    single   secondary no      1511    yes     no
45199 37  management    married  tertiary  no      1428    no      no
45200 34  blue-collar   single   secondary no      1475    yes     no
45201 38  technician    married  secondary no       557    yes     no
45202 53  management    married  tertiary  no       583    no      no
45203 34  admin.        single   secondary no       557    no      no
45204 23  student       single   tertiary  no       113    no      no
45205 73  retired       married  secondary no      2850    no      no
45206 25  technician    single   secondary no       505    no      yes
45207 51  technician    married  tertiary  no       825    no      no
45208 71  retired       divorced primary   no      1729    no      no
45209 72  retired       married  secondary no      5715    no      no
45210 57  blue-collar   married  secondary no       668    no      no
45211 37  entrepreneur  married  secondary no      2971    no      no
      contact   day month duration campaign pdays previous poutcome y
1     unknown   5   may   261      1        -1    0        unknown  no
2     unknown   5   may   151      1        -1    0        unknown  no
3     unknown   5   may    76      1        -1    0        unknown  no
4     unknown   5   may    92      1        -1    0        unknown  no
5     unknown   5   may   198      1        -1    0        unknown  no
6     unknown   5   may   139      1        -1    0        unknown  no
7     unknown   5   may   217      1        -1    0        unknown  no
8     unknown   5   may   380      1        -1    0        unknown  no
9     unknown   5   may    50      1        -1    0        unknown  no
10    unknown   5   may    55      1        -1    0        unknown  no
11    unknown   5   may   222      1        -1    0        unknown  no
12    unknown   5   may   137      1        -1    0        unknown  no
13    unknown   5   may   517      1        -1    0        unknown  no
14    unknown   5   may    71      1        -1    0        unknown  no
15    unknown   5   may   174      1        -1    0        unknown  no
16    unknown   5   may   353      1        -1    0        unknown  no
17    unknown   5   may    98      1        -1    0        unknown  no
18    unknown   5   may    38      1        -1    0        unknown  no
19    unknown   5   may   219      1        -1    0        unknown  no
20    unknown   5   may    54      1        -1    0        unknown  no
21    unknown   5   may   262      1        -1    0        unknown  no
22    unknown   5   may   164      1        -1    0        unknown  no
23    unknown   5   may   160      1        -1    0        unknown  no
24    unknown   5   may   342      1        -1    0        unknown  no
25    unknown   5   may   181      1        -1    0        unknown  no
26    unknown   5   may   172      1        -1    0        unknown  no
27    unknown   5   may   296      1        -1    0        unknown  no
28    unknown   5   may   127      1        -1    0        unknown  no
29    unknown   5   may   255      2        -1    0        unknown  no
30    unknown   5   may   348      1        -1    0        unknown  no
⋮     ⋮         ⋮   ⋮     ⋮        ⋮        ⋮     ⋮        ⋮        ⋮
45182 cellular  15  nov     74     2        118    3       failure  no
45183 cellular  15  nov    401     2        187    5       success  yes
45184 cellular  15  nov     78     1         96    7       success  no
45185 cellular  16  nov    138     1         22    5       success  no
45186 cellular  16  nov    200     1         92    4       success  yes
45187 cellular  16  nov    280     1        104    2       failure  no
45188 cellular  16  nov    411     1         -1    0       unknown  yes
45189 cellular  16  nov    236     1        550    2       success  yes
45190 cellular  16  nov    173     1         92    5       failure  no
45191 cellular  16  nov    206     1        188    3       success  yes
45192 cellular  16  nov    262     1        183    1       failure  yes
45193 cellular  16  nov    238     1         -1    0       unknown  yes
45194 cellular  16  nov    449     2         33    4       success  yes
45195 cellular  16  nov    162     2        187    5       failure  no
45196 cellular  16  nov    212     1        187    6       success  yes
45197 cellular  16  nov    330     1         -1    0       unknown  yes
45198 cellular  16  nov    270     1         -1    0       unknown  yes
45199 cellular  16  nov    333     2         -1    0       unknown  no
45200 cellular  16  nov   1166     3        530   12       other    no
45201 cellular  16  nov   1556     4         -1    0       unknown  yes
45202 cellular  17  nov    226     1        184    4       success  yes
45203 cellular  17  nov    224     1         -1    0       unknown  yes
45204 cellular  17  nov    266     1         -1    0       unknown  yes
45205 cellular  17  nov    300     1         40    8       failure  yes
45206 cellular  17  nov    386     2         -1    0       unknown  yes
45207 cellular  17  nov    977     3         -1    0       unknown  yes
45208 cellular  17  nov    456     2         -1    0       unknown  yes
45209 cellular  17  nov   1127     5        184    3       success  yes
45210 telephone 17  nov    508     4         -1    0       unknown  no
45211 cellular  17  nov    361     2        188   11       other    no

In [ ]:
bank_all <- bank_all_cols %>%
    select(-c(default, contact, duration))
bank_all